body {
}


.product-list {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    display: flex;
    padding: 1rem;
    border-radius: 7px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.26);
    margin: 1rem;
}

.product-list-price {
    margin-left: auto;
    font-weight: bold;
    color: #001bb7;
}

.product-list-name{
    margin: auto;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25em;
        cursor: pointer;
    }

        /* checkbox aspect */
        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 1.25em;
            height: 1.25em;
            border: 2px solid #3d3d3d;
            background: #fff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        }
        /* checked mark aspect */
        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '\2713\0020';
            position: absolute;
            top: .15em;
            left: .22em;
            font-size: 1.3em;
            line-height: 0.8;
            color: #001bb7;
            transition: all .2s;
            font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
        }
        /* checked mark aspect changes */
        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }
